In [3]:
import pandas as pd
from pathlib import Path

In [6]:
# chargement des fichiers CSV

# répertoire des données brutes :
data_dir = Path("..") / "data" / "raw"
csv_files = sorted([p for p in data_dir.iterdir() if p.suffix.lower() in [".csv", ".xlsx"]])

# liste de DataFrame (même ordre que csv_files) et dict {stem: df} :
dfs = [pd.read_csv(p) if p.suffix.lower() == ".csv" else pd.read_excel(p) for p in csv_files]
dfs_names = [p.stem for p in csv_files]
dfs_dict = dict(zip(dfs_names, dfs))

C:\Users\Amine Mamdouh\AppData\Local\Temp\ipykernel_14020\1442512518.py:8: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(p) if p.suffix.lower() == ".csv" else pd.read_excel(p) for p in csv_files]

In [7]:
# Afficher un aperçu de chaque DataFrame
for name, df in dfs_dict.items():
    print(f"--- {name} ---")
    display(df.head())

--- Average_Daily_Ridership_By_Mode - City of Philadelphia ---

,Calendar_Year,Calendar_Month,Mode,Average_Daily_Ridership,Source,ObjectId
0,2019,1,Bus,459160,APC,1
1,2019,1,CCT,4294,Revenue,2
2,2019,1,Heavy Rail,296709,Revenue,3
3,2019,1,Regional Rail,122856,Revenue,4
4,2019,1,Trackless Trolley,16853,APC,5

--- Average_Daily_Ridership_By_Route - City of Philadelphia ---

,Calendar_Year,Calendar_Month,Route,Average_Daily_Ridership,Source,ObjectId
0,2019,8,59,3811,APC,2
1,2019,8,60,8550,APC,3
2,2019,8,61,3563,APC,4
3,2019,8,62,226,APC,5
4,2019,8,64,4335,APC,6

--- Avg_By_Route_Chicago ---

  Route                 Date day_type  total_rides
0     1  2004-06-16T00:00:00        W         3174
1   100  2021-06-29T00:00:00        W          176
2   100  2018-05-21T00:00:00        W          497
3   106  2009-02-25T00:00:00        W         3146
4   100  2021-12-30T00:00:00        W          204

--- cta-ridership-daily-boarding-totals-20260203-69820a3f9df63091665572 (1) ---

  service_date day_type     bus  rail_boardings  total_rides
0   2001-01-01        U  297192          126455       423647
1   2001-01-02        W  780827          501952      1282779
2   2001-01-03        W  824923          536432      1361355
3   2001-01-04        W  870021          550011      1420032
4   2001-01-05        W  890426          557917      1448343

In [21]:
# Taille des DataFrames
for name, df in dfs_dict.items():
    print(f" - {name}: {df.shape}")

 - Average_Daily_Ridership_By_Mode - City of Philadelphia: (492, 6)
 - Average_Daily_Ridership_By_Route - City of Philadelphia: (10994, 6)
 - Avg_By_Route_Chicago: (1092474, 4)
 - cta-ridership-daily-boarding-totals-20260203-69820a3f9df63091665572 (1): (9100, 5)

In [20]:
#info sur les DataFrames
for name, df in dfs_dict.items():
    print(f"--- Info for {name} ---")
    df.info()

--- Info for Average_Daily_Ridership_By_Mode - City of Philadelphia ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 492 entries, 0 to 491
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Calendar_Year            492 non-null    int64
 1   Calendar_Month           492 non-null    int64
 2   Mode                     492 non-null    object
 3   Average_Daily_Ridership  492 non-null    int64
 4   Source                   492 non-null    object
 5   ObjectId                 492 non-null    int64
dtypes: int64(4), object(2)
memory usage: 23.2+ KB
--- Info for Average_Daily_Ridership_By_Route - City of Philadelphia ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10994 entries, 0 to 10993
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Calendar_Year            10994 non-null  int64
 1   Calendar_Month           10994 non-null  int64
 2   Route                    10994 non-null  object
 3   Average_Daily_Ridership  10994 non-null  int64
 4   Source                   10994 non-null  object
 5   ObjectId                 10994 non-null  int64
dtypes: int64(4), object(2)
memory usage: 515.5+ KB
--- Info for Avg_By_Route_Chicago ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1092474 entries, 0 to 1092473
Data columns (total 4 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Route        1092474 non-null  object
 1   Date         1092474 non-null  object
 2   day_type     1092474 non-null  object
 3   total_rides  1092474 non-null  int64
dtypes: int64(1), object(3)
memory usage: 33.3+ MB
--- Info for cta-ridership-daily-boarding-totals-20260203-69820a3f9df63091665572 (1) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9100 entries, 0 to 9099
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   service_date    9100 non-null   datetime64[ns]
 1   day_type        9100 non-null   object
 2   bus             9100 non-null   int64
 3   rail_boardings  9100 non-null   int64
 4   total_rides     9100 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 355.6+ KB

In [19]:
#aficher les valeurs manquantes
for name, df in dfs_dict.items():
    print(f"--- Missing Values for {name} ---")
    print(df.isnull().sum())

--- Missing Values for Average_Daily_Ridership_By_Mode - City of Philadelphia ---
Calendar_Year              0
Calendar_Month             0
Mode                       0
Average_Daily_Ridership    0
Source                     0
ObjectId                   0
dtype: int64
--- Missing Values for Average_Daily_Ridership_By_Route - City of Philadelphia ---
Calendar_Year              0
Calendar_Month             0
Route                      0
Average_Daily_Ridership    0
Source                     0
ObjectId                   0
dtype: int64
--- Missing Values for Avg_By_Route_Chicago ---
Route          0
Date           0
day_type       0
total_rides    0
dtype: int64
--- Missing Values for cta-ridership-daily-boarding-totals-20260203-69820a3f9df63091665572 (1) ---
service_date      0
day_type          0
bus               0
rail_boardings    0
total_rides       0
dtype: int64

In [18]:
# Afficher les types de données 
for name, df in dfs_dict.items():
    print(f"--- Data Types for {name} ---")
    print(df.dtypes)

--- Data Types for Average_Daily_Ridership_By_Mode - City of Philadelphia ---
Calendar_Year               int64
Calendar_Month              int64
Mode                       object
Average_Daily_Ridership     int64
Source                     object
ObjectId                    int64
dtype: object
--- Data Types for Average_Daily_Ridership_By_Route - City of Philadelphia ---
Calendar_Year               int64
Calendar_Month              int64
Route                      object
Average_Daily_Ridership     int64
Source                     object
ObjectId                    int64
dtype: object
--- Data Types for Avg_By_Route_Chicago ---
Route          object
Date           object
day_type       object
total_rides     int64
dtype: object
--- Data Types for cta-ridership-daily-boarding-totals-20260203-69820a3f9df63091665572 (1) ---
service_date      datetime64[ns]
day_type                  object
bus                        int64
rail_boardings             int64
total_rides                int64
dtype: object

In [17]:
#aficher les douplicatas
for name, df in dfs_dict.items():
    print(f"--- Duplicates for {name} ---")
    print(df.duplicated().sum())

--- Duplicates for Average_Daily_Ridership_By_Mode - City of Philadelphia ---
0
--- Duplicates for Average_Daily_Ridership_By_Route - City of Philadelphia ---
0
--- Duplicates for Avg_By_Route_Chicago ---
0
--- Duplicates for cta-ridership-daily-boarding-totals-20260203-69820a3f9df63091665572 (1) ---
0

In [15]:
#desrcibe des DataFrames
for name, df in dfs_dict.items():
    print(f"--- Description for {name} ---")
    display(df.describe(include='all'))

--- Description for Average_Daily_Ridership_By_Mode - City of Philadelphia ---

,Calendar_Year,Calendar_Month,Mode,Average_Daily_Ridership,Source,ObjectId
count,492.000000,492.000000,492,492.000000,492,492.000000
unique,NaN,NaN,6,NaN,3,NaN
top,NaN,NaN,Bus,NaN,Revenue,NaN
freq,NaN,NaN,82,NaN,242,NaN
mean,2021.926829,6.378049,NaN,106415.569106,NaN,246.500000
std,1.969919,3.405902,NaN,125651.975381,NaN,142.172431
min,2019.000000,1.000000,NaN,694.000000,NaN,1.000000
25%,2020.000000,3.000000,NaN,10281.250000,NaN,123.750000
50%,2022.000000,6.000000,NaN,53531.000000,NaN,246.500000
75%,2024.000000,9.000000,NaN,156623.250000,NaN,369.250000
max,2025.000000,12.000000,NaN,503967.000000,NaN,492.000000

--- Description for Average_Daily_Ridership_By_Route - City of Philadelphia ---

,Calendar_Year,Calendar_Month,Route,Average_Daily_Ridership,Source,ObjectId
count,10994.000000,10994.000000,10994,10994.000000,10994,10994.000000
unique,NaN,NaN,141,NaN,4,NaN
top,NaN,NaN,59,NaN,APC,NaN
freq,NaN,NaN,81,NaN,10024,NaN
mean,2021.912407,6.330999,NaN,3385.447881,NaN,5499.318083
std,1.955398,3.396566,NaN,7455.070328,NaN,3174.096559
min,2019.000000,1.000000,NaN,0.000000,NaN,2.000000
25%,2020.000000,3.000000,NaN,641.000000,NaN,2751.250000
50%,2022.000000,6.000000,NaN,1871.000000,NaN,5499.500000
75%,2024.000000,9.000000,NaN,4284.000000,NaN,8247.750000
max,2025.000000,12.000000,NaN,135509.000000,NaN,10996.000000

--- Description for Avg_By_Route_Chicago ---

          Route                 Date day_type   total_rides
count   1092474              1092474  1092474  1.092474e+06
unique      218                 9100        3           NaN
top          75  2007-12-18T00:00:00        W           NaN
freq       9100                  153   841184           NaN
mean        NaN                  NaN      NaN  5.833470e+03
std         NaN                  NaN      NaN  6.037996e+03
min         NaN                  NaN      NaN  0.000000e+00
25%         NaN                  NaN      NaN  1.269000e+03
50%         NaN                  NaN      NaN  3.674000e+03
75%         NaN                  NaN      NaN  8.669000e+03
max         NaN                  NaN      NaN  4.517700e+04

--- Description for cta-ridership-daily-boarding-totals-20260203-69820a3f9df63091665572 (1) ---

,service_date,day_type,bus,rail_boardings,total_rides
count,9100,9100,9.100000e+03,9.100000e+03,9.100000e+03
unique,NaN,3,NaN,NaN,NaN
top,NaN,W,NaN,NaN,NaN
freq,NaN,6355,NaN,NaN,NaN
mean,2013-06-16 12:01:25.846153984,NaN,7.044593e+05,5.064497e+05,1.210909e+06
min,2001-01-01 00:00:00,NaN,8.078300e+04,2.354400e+04,1.100470e+05
25%,2007-03-25 18:00:00,NaN,4.607805e+05,3.265512e+05,7.975130e+05
50%,2013-06-16 12:00:00,NaN,7.505730e+05,5.718135e+05,1.399761e+06
75%,2019-09-08 06:00:00,NaN,9.553080e+05,6.876832e+05,1.626020e+06
max,2025-11-30 00:00:00,NaN,1.211992e+06,1.146516e+06,2.049519e+06
std,NaN,NaN,2.691563e+05,2.067194e+05,4.629037e+05

In [16]:
#afficher les noms de colonnes
for name, df in dfs_dict.items():
    print(f"--- Columns for {name} ---")
    print(df.columns.tolist())

--- Columns for Average_Daily_Ridership_By_Mode - City of Philadelphia ---
['Calendar_Year', 'Calendar_Month', 'Mode', 'Average_Daily_Ridership', 'Source', 'ObjectId']
--- Columns for Average_Daily_Ridership_By_Route - City of Philadelphia ---
['Calendar_Year', 'Calendar_Month', 'Route', 'Average_Daily_Ridership', 'Source', 'ObjectId']
--- Columns for Avg_By_Route_Chicago ---
['Route', 'Date', 'day_type', 'total_rides']
--- Columns for cta-ridership-daily-boarding-totals-20260203-69820a3f9df63091665572 (1) ---
['service_date', 'day_type', 'bus', 'rail_boardings', 'total_rides']

# Nettoyage

In [ ]:
#filtrer les données pour ne garder que les données à partir de septembre 2019 et sauvegarder en CSV
cta_df = dfs_dict["cta-ridership-daily-boarding-totals-20260203-69820a3f9df63091665572 (1)"]
cta_df = cta_df[cta_df["service_date"] >= "2019-09-01"]  
cta_df.to_csv("../data/raw/cta_ridership_daily_boarding_totals_2019_2025.csv", index=False)

In [ ]:
#filtrer les données pour ne garder que les données à partir de septembre 2019 et sauvegarder en CSV
cta_df = dfs_dict["Avg_By_Route_Chicago"]
cta_df = cta_df[cta_df["Date"] >= "2019-09-01"]  # Filtrer pour ne garder que la ligne rouge
cta_df.to_csv("../data/raw/Avg_By_Route_Chicago_2019_2025.csv", index=False)